<style>
input{
    
    border-radius: 5px;
    height: 1.1cm;
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
    
}

</style>
<div>
    <h2>Danh số thuê xe</h2>
    <div id="doanhso" class="doanhso admin-content">
        -sprint sau
    </div>

    <h2>Lịch sử thuê xe</h2>
    <div id="lsu" class="lsu admincontent">
        -sprint sau
    </div>

    <h2>Xe</h2>
    <div id="xe" class="xe admin-content">
        <% if (xe.length === 0) { %>
            <p>Không có xe nào</p>
        <% }else{ %>
            <div class="admin-subcontent">
                <% for( let index = 0; index < xe.length; index++ ) { %>
                    <div>
                        <form action="/admin/xe" method="post">
                            <input type="text" id="ten_bai" value="<%= xe[index].ten_bai %> ">
                            <input type="text" id="id_bai_xe" value="<%= xe[index].id_bai_xe %>">
                            <input type="text" id="id_user" value="<%= xe[index].id_user %>">
                            <input type="text" id="id_xe" value="<%= xe[index].id_xe %>">
                            <input type="text" id="loai_xe" value="<%= xe[index].loai_xe %>">
                            <input type="text" id="trang_thai" value="<%= xe[index].trang_thai %>">
                            <button type="submit" name="update-button" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            <button type="submit" name="delete-button" class="btn btn-danger">Xóa <span class="text-gradient"><i class="fas fa-times"></i></span></button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>

        <h2>Them xe</h2>
        <form action="/admin/themxe" method="post">
            <select name="id_bai_xe_them" id="id_bai_xe_them">
                <% for( let index = 0; index < baixe.length; index++ ) { %>
                    <option value="<%= baixe[index].id_bai_xe %>"><%= baixe[index].ten_bai %></option>
                <% } %>
            </select>
            <input type="text" name="loai_xe_them">
            <button type="submit">Thêm xe</button>
        </form>
    </div>
    <h2>Bai xe</h2>
    <div id="baixe" class="baixe admin-content">
        <% if (baixe.length === 0) { %>
            <p>Không có bãi xe nào</p>
        <% } else { %>
            <div class="admin-subcontent">
                <% for( let index = 0; index < baixe.length; index++ ) { %>
                    <div>
                        <form action="/admin/baixe" method="post">
                            <input type="text" id="id_bai_xe" value="<%= baixe[index].id_bai_xe %>" readonly>
                            <input type="text" id="ten_bai_xe" value="<%= baixe[index].ten_bai %>">
                            <input type="text" id="so_luong_xe" value="<%= baixe[index].so_luong_xe %>" readonly>
                            <button type="submit" name="update-button" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            <button type="submit" name="delete-button"class="btn btn-danger">Xóa <span class="text-gradient"><i class="fas fa-times"></i></span></button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>

        <h2>Them bai xe</h2>
        <form action="/admin/thembaixe" method="post">
            <input type="text" id="id_bai_xe_them" required>
            <input type="text" id="ten_bai_xe_them" required>
            <input type="text" id="pos_x" required>
            <input type="text" id="pos_y" required>
            <button type="submit">Them bai xe</button>
        </form>
        <div id="map" style="height: 500px; width: 100%;">

        </div>
    </div>

    <h2>Danh sách người dùng</h2>
    <div id="khachhang" class="khachhang admin-content">

        <% if (khachhang.length === 0) { %>
            <p>Không có người dùng nào</p>
        <% } else { %>
            <div class="admin-subcontent">
                <% for( let index = 0; index < khachhang.length; index++ ) { %>
                    <div>
                        <form action="/admin/khachhang" method="post">
                            <input type="text" id="email" value="<%= khachhang[index].email %>" readonly>
                            <input type="text" id="ten" value="<%= khachhang[index].ten %>" readonly>
                            <input type="text" id="cmnd" value="<%= khachhang[index].cmnd %>" readonly>

                            <button type="submit" name="update-button" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            <button type="submit" name="delete-button" class="btn btn-danger">Xóa <span class="text-gradient"><i class="fas fa-times"></i></span></button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>        
    </div>

    <h2>Giá thuê xe</h2>
    <div id="price" class="price admin-content">
        <div>
            <form action="/admin/price" method="post">
                <label for="one">Giá 1 giờ</label>
                <input type="text" id="one" name="pricechange" value="<%= price.one_h %>">
                <button type="submit" name="action" value="one_h" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
            </form>
            <form action="/admin/price" method="post">
                <label for="two">Giá 2 giờ</label>
                <input type="text" id="two" name="pricechange" value="<%= price.two_h %>">
                <button type="submit" name="action" value="two_h" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
            </form>
            <form action="/admin/price" method="post">
                <label for="three">Giá 3 giờ</label>
                <input type="text" id="three" name="pricechange" value="<%= price.three_h %>">
                <button type="submit" name="action" value="three_h" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
            </form>
            <form action="/admin/price" method="post">
                <label for="late30">Giá muộn 30 phút</label>
                <input type="text" id="three" name="pricechange" value="<%= price.delay_h %>">
                <button type="submit" name="action" value="delay_h" class="btn btn-primary">Cập nhật <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
            </form>
        </div>
    </div>

    <!-- SCRIPT  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script>
        var baixe =  <%-JSON.stringify(baixe)%>;

        const mapboxapi = 'pk.eyJ1IjoicXVvY2h1c3QiLCJhIjoiY2t2Z3J6NWliYzRncTJwcTZkdm5hZTE4MiJ9.sZOhK-6OEJ55JR8oLDHBLA'

        var mymap = L.map('map').setView([20.96200410887519, 105.93191368976271], 14);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: mapboxapi
        }).addTo(mymap);
        var pos;
        mymap.on("contextmenu", function (event) {
            L.marker(event.latlng).addTo(mymap);
            navigator.clipboard.writeText(event.latlng.toString());
            pos = event.latlng;
            document.getElementById('pos_x').value = pos.lat;
            document.getElementById('pos_y').value = pos.lng;
            // alert("user right-clicked on map coordinates: " + event.latlng.toString());
        });

        var polygon1 = L.polygon([
            [20.970969227003827, 105.92287885477188],[20.97020304924185, 105.92257461482852],[20.970013656380758, 105.92128389991737],[20.96654428101809, 105.92217818096145],
            [20.966682024500834, 105.92290651294702],[20.96586417067644, 105.92318309471128],[20.96562311817987, 105.92246398211792],[20.964891349272147, 105.92272212509982],
            [20.96427149517754, 105.92260227300095],[20.963099595576633, 105.92042994674496],[20.963357609363094, 105.92022432652477],[20.96330960683188, 105.91984521424381],
            [20.961919209615065, 105.91946660472838],[20.961807289460946, 105.91959567622091],[20.961264251137415, 105.91942843149265],[20.96040867497098, 105.91844826776136],
            [20.96022787902837, 105.92076233520292],[20.958660971785243, 105.91973898266565],[20.957931259938434, 105.9209768201346],[20.95721557936646, 105.92124226784797],
            [20.95549054049083, 105.92519841239738],[20.95576367297153, 105.92590651609105],[20.955792423736963, 105.92846184706454],[20.95675557095156, 105.92886207958703],
            [20.95645368965596, 105.92973951242485],[20.95580679911411, 105.92947782192937],[20.955217407482245, 105.93120190070866],[20.95247167452133, 105.93335699898071],
            [20.947152572064926, 105.93386498652463],[20.947325086442937, 105.94103838533377],[20.94953900352739, 105.94240841204542],[20.9500996656438, 105.94242380560397],
            [20.950042161933663, 105.94313190929765],[20.953291086946155, 105.94402473583645],[20.953233584462424, 105.94487138155714],[20.95454176054418, 105.94622601485044],
            [20.95616618300021, 105.9461336534991],[20.957704336759953, 105.9447636267212],[20.95954435028984, 105.94445575555004],[20.962448075633404, 105.94948944955186],
            [20.968753100528772, 105.9478415491488],[20.966927574593658, 105.93623480524424],[20.967890650121657, 105.92883050312625],[20.970966700553372, 105.92288858896858]
        ]).addTo(mymap);

        var polygon2 = L.polygon([
            [20.96800274648022, 105.93357325843223],[20.970575211503057, 105.93539744419316],[20.97352044515101, 105.93229539762808],[20.972619842715066, 105.93026212316778],
            [20.974664445980636, 105.92444904370664],[20.975714946992223, 105.92436467211382],[20.975714946992223, 105.92260454817648],[20.97469811136562, 105.92249058331723],
            [20.9746389927926, 105.92000868178994],[20.973199717023366, 105.91969998190204],[20.97231131669765, 105.92001712588689],[20.9718105793862, 105.92359508689076],
            [20.968425917501985, 105.93010855152976],[20.96799327597174, 105.93357791791561]
        ]).addTo(mymap)

        polygon1.setStyle({fillColor: '#3388FF', fillOpacity: 0.1});
        polygon2.setStyle({fillColor: '#3388FF', fillOpacity: 0.1});

        L.control.locate().addTo(mymap);

        var baitemp;
        for (let index = 0; index < baixe.length; index++) {
            baitemp = L.marker([baixe[index].pos_x, baixe[index].pos_y]).addTo(mymap);
            baitemp.bindTooltip("<h3>"+ baixe[index].ten_bai + "</h3>", {permanent: true, direction: 'top', offset: L.point(-14,0)})
        }
    </script>
</div>