<style>
    input{
        border-radius: 5px;
        height: 1.1cm;
    }
    #xe input,
    #baixe input {
        text-align: center;
        border-color: transparent;
        background-color: transparent !important;
    }
    #khachhang{
        margin-top: 0.5cm;
    }
    #khachhang input {
        text-align: center;
        border-color: transparent;
        background-color: transparent !important;
        /* margin-left: 1.5cm; */
    }
    
    #thembaixe li {
        margin-top: 1rem;
        width: 100%;
    }
    th, td {
        text-align: center;
    }
    .admin-subcontent {
        background-color: white;
        border: solid white;
    }
    .tenbaithem{
        background-color: white;
        border: solid white;
    }
    
    li {
        list-style-type: none;
    }

    #price em {
        margin-left: 10px;
        margin-right: 10px;
    }

    #themxe input,
    #price input {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .card-header {
        color: #478640;
        font-size: 20px;
        font-weight: 500;
    }

    .news {
        color: #478640 !important;
        font-size: 16px;
        font-weight: 500;
    }
</style>
<div>
    <div class="row">
        <!-- Tổng quan -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="news text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Doanh thu hôm nay</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><em>Đang cập nhật</em></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="news text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Trạng thái các xe</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <span id="xeavailable" style="color: #478640;"></span> /
                                <span id="xepending" style="color: #ffc107;"></span> /
                                <span id="xeactive" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-biking fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="news text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tổng số tài khoản</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <span id="tongsotaikhoan"><%= souser %> </span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="news text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Bãi xe hấp dẫn nhất</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><em>Đang cập nhật</em></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-map-marked-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Doanh số thuê xe  -->
        <div class="col-12 mb-4" id="doanhso">
            <div class="card shadow">
                <div class="card-header">
                    Doanh số thuê xe
                </div>
                <div class="card-body">
                    <em>Đang phát triển</em>
                </div>
            </div>
        </div>

        <!-- Lịch sử thuê xe  -->
        <div class="col-12 mb-4" id="lsu">
            <div class="card shadow">
                <div class="card-header">
                    Lịch sử thuê xe
                </div>
                <div class="card-body">
                    <div id="xethue" style="display: inline;"></div>
                    <em>Đang phát triển</em>
                </div>
            </div>
        </div>

        <!-- Danh sách các xe  -->
        <div class="col-12 mb-4" id="xe">
            <div class="card shadow">
                <div class="card-header">
                    Danh sách các xe
                </div>
                <div class="card-body">
                    <div class="xe admin-content">
                        <% if (xe.length === 0) { %>
                            <p>Không có xe nào</p>
                        <% }else{ %>
                            <div class="admin-subcontent table-responsive">
                                <table class="table table-striped table-sm" id="table-xe">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tên bãi xe</th>
                                            <th scope="col">ID bãi xe</th>
                                            <th scope="col">ID khách</th>
                                            <th scope="col">ID xe</th>
                                            <th scope="col">Loại xe</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let index = 0; index < xe.length; index++ ) { %>
                                            <tr>
                                                <form action="/admin/xe" method="post">
                                                    <td><input type="text" id="ten_bai" name="ten_bai" value="<%= xe[index].ten_bai %>" readonly></td>
                                                    <td><input type="text" id="id_bai_xe" name="id_bai_xe" class="form-control" value="<%= xe[index].id_bai_xe %>"></td>
                                                    <td><input type="text" id="id_user" value="<%= xe[index].id_user %>" readonly></td>
                                                    <td><input type="text" id="id_xe" name="id_xe" value="<%= xe[index].id_xe %>" readonly></td>
                                                    <td><input type="text" id="loai_xe" style="width:max-content" name="loai_xe" class="form-control" value="<%= xe[index].loai_xe %>"></td>
                                                    <!-- <td><input type="text" id="trang_thai" name="trang_thai" class="form-control" value="<%= xe[index].trang_thai %>"></td> -->
                                                    <td>
                                                        <select name="trang_thai" style="background-color: transparent; border: none; padding: 8px 0px;" id="trang_thai">
                                                            <% if (xe[index].trang_thai === "available") { %>
                                                                <option value="available" selected>available</option>
                                                                <option value="pending">pending</option>
                                                                <option value="active">active</option>
                                                            <% } else if (xe[index].trang_thai === "pending") {%>
                                                                <option value="available">available</option>
                                                                <option value="pending" selected>pending</option>
                                                                <option value="active">active</option>
                                                            <% } else if (xe[index].trang_thai === "active") { %>
                                                                <option value="available">available</option>
                                                                <option value="pending">pending</option>
                                                                <option value="active" selected>active</option>
                                                            <% } %>
                                                        </select>
                                                    </td>
                                                    <td><button type="submit" name="action" class="btn btn-primary" class="form-control" value="update"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button></td>
                                                    <td><button type="submit" name="action" class="btn btn-danger" class="form-control" value="delete"><span class="text-gradient"><i class="fas fa-times"></i></span></button></td>
                                                </form>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

        </div>        

        <!-- Thêm xe -->
        <div class="col-12 mb-4"  id="themxe">
            <div class="card shadow">
                <div class="card-header">
                    Thêm xe
                </div>
                <div class="card-body">
                    <form action="/admin/themxe" method="post">
            
                        <select name="id_bai_xe_them" class="form-select" style="width: auto; display: inline-block;" id="id_bai_xe_them">
                            <% for( let index = 0; index < baixe.length; index++ ) { %>
                                <option value="<%= baixe[index].id_bai_xe %>"><%= baixe[index].ten_bai %></option>
                            <% } %>
                        </select>
                        
                        <input type="text"  name="loai_xe_them" class="form-control" style="display: inline-block; width: 300px;" placeholder="Tên loại xe thêm" required>  
                        <div id = "cacbaixe" style="display: inline;"></div>  

                        <button type="submit" class="btn btn-primary">Thêm xe</button>
                        
                    </form>
                </div>
            </div>
        </div>

        <!-- Danh sách bãi xe -->
        <div class="col-12 mb-4" id="baixe">
            <div class="card shadow">
                <div class="card-header">
                    Danh sách bãi xe
                </div>
                <div class="card-body">
                    <div class="baixe admin-content">
                        <% if (baixe.length === 0) { %>
                            <p>Không có bãi xe nào</p>
                        <% } else { %>
                            <div class="admin-subcontent table-responsive">
                                <table class="table table-striped table-sm" id="table-bai-xe">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID bãi xe</th>
                                            <th scope="col">Tên bãi xe</th>
                                            <th scope="col">Trang QR thuê, trả</th>
                                            <th scope="col">Số lượng xe</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let index = 0; index < baixe.length; index++ ) { %>
                                            <tr>
                                                <form action="/admin/baixe" method="post">
                                                    <td><input type="text" id="id_bai_xe" name="id_bai_xe" value="<%= baixe[index].id_bai_xe %>" readonly></td>
                                                    <td><input type="text" id="ten_bai_xe" name="ten_bai_xe" style="display: inline-block; width: 350px;" class="form-control" value="<%= baixe[index].ten_bai %>"></td>
                                                    <td><a href="/admin/qrpage/<%= baixe[index].id_bai_xe %>" style="color: #478640; text-decoration: none; font-weight: 500; line-height: 2.5;" target="_blank">Chuyển hướng</a></td>
                                                    <td><input type="text" id="so_luong_xe" name="so_luong_xe" value="<%= baixe[index].so_luong_xe %>" readonly></td>
                                                    <td><button type="submit" name="action" class="btn btn-primary" value="update"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button></td>
                                                    <td><button type="submit" name="action" class="btn btn-danger" value="delete"><span class="text-gradient"><i class="fas fa-times"></i></span></button></td>
                                                </form>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thêm bãi xe -->
        <div class="col-12 mb-4" id="thembaixe">
            <div class="card shadow">
                <div class="card-header">
                    Thêm bãi xe
                </div>
                <div class="card-body row">
                    <div class="col-4">
                        <form action="/admin/thembaixe" method="post">
                            <ul>
                                <li><input type="text" id="ten_bai_xe_them" class="form-control" name="ten_bai_xe_them" placeholder="Tên bãi xe thêm" required></li>
                                <li><input type="text" id="pos_x" class="form-control" name="pos_x" placeholder="Tọa độ x" required readonly></li>
                                <li><input type="text" id="pos_y" class="form-control" name="pos_y" placeholder="Tọa độ y" required readonly></li>
                                <li><em>Nhấp chuột phải vào bản đồ để lấy hai tọa độ của bãi xe.</em></li>
                                <li><button type="submit" class="btn btn-primary">Thêm bãi xe</button></li>
                                <br>
                                <li><em>Nhấp chuột trái vào từng bãi để xem trang QR thuê, trả xe của từng bãi.</em></li>                            
                            </ul>                        
                        </form>
                    </div>
                    <div class="col-8">
                        <div id="map" style="height: 500px; width: 100%;"></div>
                        <div id="khachhangthuexe" style="display: inline;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- danh sách người dùng -->
        <div class="col-12 mb-4" id="khachhang">
            <div class="card shadow">
                <div class="card-header">
                    Danh sách người dùng
                </div>
                <div class="card-body">
                    <div class="khachhang admin-content">

                        <% if (khachhang.length === 0) { %>
                            <p>Không có người dùng nào</p>
                        <% } else { %>
                            <div class="admin-subcontent table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center;">ID</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Tên người dùng</th>
                                            <th scope="col">Giới tính</th>
                                            <th scope="col">CMND</th>
                                            <th scope="col">SĐT</th>
                                            <th scope="col">Địa chỉ</th>
                                            <th scope="col" style="width: 10%">Cư dân Ecopark</th>
                                            <th scope="col">Mã cư dân</th>
                                            <!-- <th scope="col"></th>
                                            <th scope="col"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let index = 0; index < khachhang.length; index++ ) { %>
                                            <tr>
                                                <form action="/admin/khachhang" method="post">
                                                <td><input type="text" id="iduser" style="width:30px" value="<%= khachhang[index].id_user %>" readonly></td>
                                                <td><input type="text" id="email" style="width:250px" value="<%= khachhang[index].email %>" readonly></td>
                                                <td><input type="text" id="ten" style="width: 200px" value="<%= khachhang[index].ten %>" readonly></td>
                                                <td><input type="text" id="gioitinh" style="width: 75px" value="<%= khachhang[index].gioi_tinh %>" readonly></td>
                                                <td><input type="text" id="cmnd" style="width: 120px" value="<%= khachhang[index].cmnd %>" readonly></td>
                                                <td><input type="text" id="sdt" style="width: 100px" value="<%= khachhang[index].sdt %>" readonly></td>
                                                <td><input type="text" id="diachi" style="width:max-content" value="<%= khachhang[index].dia_chi %>" readonly></td>
                                                <% if (khachhang[index].la_cu_dan == true) { %>
                                                    <td><div style="width: 130px"><input type="checkbox" style="width: 20px" checked disabled></div></td>
                                                <% }else { %>
                                                    <td><div style="width: 130px"></div><input type="checkbox" style="width: 20px" disabled></div></td>
                                                <% } %>
                                                <td><input type="text" id="macudan" value="<%= khachhang[index].ma_cu_dan %>" readonly></td>
                                                <!-- <td><button type="submit" name="update-button" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button></td>
                                                <td><button type="submit" name="delete-button" class="btn btn-danger"><span class="text-gradient"><i class="fas fa-times"></i></span></button></td> -->
                                                </form>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            
                        <% } %>        
                    </div>
                </div>
            </div>
        </div>

        <!-- Giá thuê xe -->
        <div class="col-12 mb-4" id="price">
            <br>
            <div class="card shadow">
                <div class="card-header">
                    Giá thuê xe
                </div>
                <div class="card-body">
                    <div class="price admin-content" id="gia-thue-xe">
                        <div>
                            <form action="/admin/price" method="post">
                                <label for="one" style="width: 250px">Giá 1 giờ</label>
                                <input type="text" id="one" name="pricechange" class="form-control" style="width: 200px; display: inline-block; margin-bottom: 10px;" value="<%= price.one_h %>">
                                <em>VND</em>
                                <button type="submit" name="action" value="one_h" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            </form>
                            <form action="/admin/price" method="post">
                                <label for="two" style="width: 250px">Giá 2 giờ</label>
                                <input type="text" id="two" name="pricechange" class="form-control" style="width: 200px; display: inline-block; margin-bottom: 10px;" value="<%= price.two_h %>">
                                <em>VND</em>
                                <button type="submit" name="action" value="two_h" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            </form>
                            <form action="/admin/price" method="post">
                                <label for="three" style="width: 250px">Giá 3 giờ</label>
                                <input type="text" id="three" name="pricechange" class="form-control" style="width: 200px; display: inline-block; margin-bottom: 10px;" value="<%= price.three_h %>">
                                <em>VND</em>
                                <button type="submit" name="action" value="three_h" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            </form>
                            <form action="/admin/price" method="post">
                                <label for="late30" style="width: 250px">Giá muộn 30 phút</label>
                                <input type="text" id="three" name="pricechange" class="form-control" style="width: 200px; display: inline-block; margin-bottom: 10px;" value="<%= price.delay_h %>">
                                <em>VND</em>
                                <button type="submit" name="action" value="delay_h" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            </form>
                            <form action="/admin/price" method="post">
                                <label for="disc" style="width: 250px">Giảm giá cho cư dân EcoPark</label>
                                <input type="text" id="disc" name="pricechange" class="form-control" style="width: 200px; display: inline-block; margin-bottom: 10px;" value="<%= price.disc %>">
                                <em>%</em>
                                <button type="submit" name="action" value="disc" class="btn btn-primary"><span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Đổi mật khẩu -->
        <div id="password" class="col-12 mb-4">
            <br>
            <div class="card shadow">
                <div class="card-header">
                    Đổi mật khẩu
                </div>
                <div class="card-body">
                    <em>Đang phát triển</em>
                </div>
            </div>
        </div>

    </div>
    

    <!-- SCRIPT  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script>
        var baixe =  <%-JSON.stringify(baixe)%>;

        const mapboxapi = 'pk.eyJ1IjoicXVvY2h1c3QiLCJhIjoiY2t2Z3J6NWliYzRncTJwcTZkdm5hZTE4MiJ9.sZOhK-6OEJ55JR8oLDHBLA'

        var mymap = L.map('map').setView([20.96200410887519, 105.93191368976271], 14);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: mapboxapi
        }).addTo(mymap);
        var pos;
        let addmarker;
        mymap.on("contextmenu", function (event) {
            if(addmarker) mymap.removeLayer(addmarker)
            addmarker = L.marker(event.latlng).addTo(mymap);
            navigator.clipboard.writeText(event.latlng.toString());
            pos = event.latlng;
            document.getElementById('pos_x').value = pos.lat;
            document.getElementById('pos_y').value = pos.lng;
            // alert("user right-clicked on map coordinates: " + event.latlng.toString());
        });

        var polygon1 = L.polygon([
            [20.970969227003827, 105.92287885477188],[20.97020304924185, 105.92257461482852],[20.970013656380758, 105.92128389991737],[20.96654428101809, 105.92217818096145],
            [20.966682024500834, 105.92290651294702],[20.96586417067644, 105.92318309471128],[20.96562311817987, 105.92246398211792],[20.964891349272147, 105.92272212509982],
            [20.96427149517754, 105.92260227300095],[20.963099595576633, 105.92042994674496],[20.963357609363094, 105.92022432652477],[20.96330960683188, 105.91984521424381],
            [20.961919209615065, 105.91946660472838],[20.961807289460946, 105.91959567622091],[20.961264251137415, 105.91942843149265],[20.96040867497098, 105.91844826776136],
            [20.96022787902837, 105.92076233520292],[20.958660971785243, 105.91973898266565],[20.957931259938434, 105.9209768201346],[20.95721557936646, 105.92124226784797],
            [20.95549054049083, 105.92519841239738],[20.95576367297153, 105.92590651609105],[20.955792423736963, 105.92846184706454],[20.95675557095156, 105.92886207958703],
            [20.95645368965596, 105.92973951242485],[20.95580679911411, 105.92947782192937],[20.955217407482245, 105.93120190070866],[20.95247167452133, 105.93335699898071],
            [20.947152572064926, 105.93386498652463],[20.947325086442937, 105.94103838533377],[20.94953900352739, 105.94240841204542],[20.9500996656438, 105.94242380560397],
            [20.950042161933663, 105.94313190929765],[20.953291086946155, 105.94402473583645],[20.953233584462424, 105.94487138155714],[20.95454176054418, 105.94622601485044],
            [20.95616618300021, 105.9461336534991],[20.957704336759953, 105.9447636267212],[20.95954435028984, 105.94445575555004],[20.962448075633404, 105.94948944955186],
            [20.968753100528772, 105.9478415491488],[20.966927574593658, 105.93623480524424],[20.967890650121657, 105.92883050312625],[20.970966700553372, 105.92288858896858]
        ]).addTo(mymap);

        var polygon2 = L.polygon([
            [20.96800274648022, 105.93357325843223],[20.970575211503057, 105.93539744419316],[20.97352044515101, 105.93229539762808],[20.972619842715066, 105.93026212316778],
            [20.974664445980636, 105.92444904370664],[20.975714946992223, 105.92436467211382],[20.975714946992223, 105.92260454817648],[20.97469811136562, 105.92249058331723],
            [20.9746389927926, 105.92000868178994],[20.973199717023366, 105.91969998190204],[20.97231131669765, 105.92001712588689],[20.9718105793862, 105.92359508689076],
            [20.968425917501985, 105.93010855152976],[20.96799327597174, 105.93357791791561]
        ]).addTo(mymap)

        polygon1.setStyle({fillColor: '#3388FF', fillOpacity: 0.1});
        polygon2.setStyle({fillColor: '#3388FF', fillOpacity: 0.1});

        L.control.locate().addTo(mymap);

        var baitemp;
        for (let index = 0; index < baixe.length; index++) {
            baitemp = L.marker([baixe[index].pos_x, baixe[index].pos_y]).addTo(mymap);
            baitemp.bindTooltip("<h3>"+ baixe[index].ten_bai + "</h3>", {permanent: true, direction: 'top', offset: L.point(-14,0)})
            baitemp.on('click', (err) => {
                window.location.href = window.location.href.split('#')[0];
                window.location.href = "/admin/qrpage/" + baixe[index].id_bai_xe;
            })
        }
    </script>

    <script>
        var xeavailable = 0;
        var xepending = 0;
        var xeactive = 0
        var table = document.getElementById("table-xe");
        for (var i = 1, row; row = table.rows[i]; i++) {
            row.cells[5].querySelector('[id = trang_thai]').style.fontWeight = "500";
            if(row.cells[5].querySelector('[id = trang_thai]').value == 'available'){
                row.cells[5].querySelector('[id = trang_thai]').style.color = "#198754";
                xeavailable ++;
            }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'pending') {
                row.cells[5].querySelector('[id = trang_thai]').style.color = "#ffc107";
                xepending++;
            }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'active'){
                row.cells[5].querySelector('[id = trang_thai]').style.color = "#dc3545";
                xeactive++;
            }
        }
        document.getElementById('xeavailable').innerHTML = xeavailable;
        document.getElementById('xepending').innerHTML = xepending;
        document.getElementById('xeactive').innerHTML = xeactive;
    </script>
    <style>
        .ani {
            color: transparent !important;
            /* border: #32f097 solid 4px !important;
            box-shadow: #32f097 2px 2px; */
        }
    </style>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script>
        var pusher = new Pusher('21a133a5939937831c0f', {
            cluster: 'ap1',
            encrypted: true
        });
        var channel = pusher.subscribe('watch_realtime_xe');
        channel.bind('update_xe', function(data) {
            //Lay thong tin ten bai xe
            if(data.so_luong_xe != null){
                //Thay doi bai xe
                var table_baixe = document.getElementById('table-bai-xe');
                var bai_xe;
                for(var i = 1, row; row = table_baixe.rows[i]; i++){
                    if(row.cells[0].querySelector('[id = id_bai_xe]').value == data.id_bai_xe){
                        bai_xe = row;
                        break;
                    }
                }
                //Thay doi ten bai
                bai_xe.cells[1].querySelector('[id = ten_bai_xe]').value = data.ten_bai;

                // Tinh lai so xe
                var so_xe = 0;
                
                var table_baixe = document.getElementById('table-bai-xe');
                for(var i = 1, row; row = table_baixe.rows[i]; i++){
                    if(row.cells[0].querySelector('[id = id_bai_xe]').value == data.id_bai_xe){
                        so_xe ++;
                    }
                }

                bai_xe.cells[3].querySelector('[id = so_luong_xe]').value = so_xe;
                Toastify({
                    text: "Thông tin bãi xe (id: " + data.id_bai_xe + ") đã được cập nhật!",
                    position: "center",
                    style: {
                        background: "#198754"
                    },
                    duration: 5000,
                    close: true
                }).showToast();
            }else if(data.id_xe != null){
                //Thay doi xe
                var table_baixe = document.getElementById('table-bai-xe');
                var bai_xe;
                for(var i = 1, row; row = table_baixe.rows[i]; i++){
                    if(row.cells[0].querySelector('[id = id_bai_xe]').value == data.id_bai_xe){
                        bai_xe = row;
                        break;
                    }
                }
                bai_xe.cells[3].querySelector('[id = so_luong_xe]').value++;

                var table = document.getElementById("table-xe");
                var newRow;
                for (var i = 1, row; row = table.rows[i]; i++) {
                    // console.log(row.cells[3].querySelector('[id = id_xe]').value);
                    if(row.cells[3].querySelector('[id = id_xe]').value == data.id_xe){
                        newRow = row;
                        break;
                    }
                }
                var bai_xe_cu;
                for(var i = 1, row; row = table_baixe.rows[i]; i++){
                    if(row.cells[0].querySelector('[id = id_bai_xe]').value == newRow.cells[1].querySelector('[id = id_bai_xe]').value){
                        bai_xe_cu = row;
                        break;
                    }
                }
                bai_xe_cu.cells[3].querySelector('[id = so_luong_xe]').value--;

                newRow.cells[5].querySelector('[id = trang_thai]').value = data.trang_thai;
                newRow.cells[4].querySelector('[id = loai_xe]').value = data.loai_xe;
                newRow.cells[2].querySelector('[id = id_user]').value = data.id_user;
                newRow.cells[1].querySelector('[id = id_bai_xe]').value = data.id_bai_xe;
                newRow.cells[0].querySelector('[id = ten_bai]').value = bai_xe.cells[1].querySelector('[id = ten_bai_xe]').value;
                
                function ani(name, count) {
                    if(count != 0){
                        if(count % 2 == 0){
                            newRow.cells[5].querySelector('[id = trang_thai]').classList.add(name);
                            setTimeout(async function() {
                                ani(name, count - 1);
                            }, 1000);
                        }else{
                            newRow.cells[5].querySelector('[id = trang_thai]').classList.remove(name);
                            setTimeout(async function() {
                                ani(name, count - 1);
                            }, 1000);
                        }
                        
                    }
                }
                
                for (var i = 1, row; row = table.rows[i]; i++) {
                    row.cells[5].querySelector('[id = trang_thai]').style.fontWeight = "500";
                    if(row.cells[5].querySelector('[id = trang_thai]').value == 'available'){
                        row.cells[5].querySelector('[id = trang_thai]').style.color = "#198754";
                        ani("ani", 20);
                    }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'pending') {
                        row.cells[5].querySelector('[id = trang_thai]').style.color = "#ffc107";
                        ani("ani", 20);
                    }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'active'){
                        row.cells[5].querySelector('[id = trang_thai]').style.color = "#dc3545";
                        ani("ani", 20);
                    }
                }

                var xeavailable = 0;
                var xepending = 0;
                var xeactive = 0
                var table = document.getElementById("table-xe");
                for (var i = 1, row; row = table.rows[i]; i++) {
                    row.cells[5].querySelector('[id = trang_thai]').style.fontWeight = "500";
                    if(row.cells[5].querySelector('[id = trang_thai]').value == 'available'){
                        xeavailable ++;
                    }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'pending') {
                        xepending++;
                    }else if(row.cells[5].querySelector('[id = trang_thai]').value == 'active'){
                        xeactive++;
                    }
                }
                document.getElementById('xeavailable').innerHTML = xeavailable;
                document.getElementById('xepending').innerHTML = xepending;
                document.getElementById('xeactive').innerHTML = xeactive;
                Toastify({
                    text: "Thông tin xe (id: " + data.id_xe + ") đã được cập nhật!",
                    position: "center",
                    style: {
                        background: "#198754"
                    },
                    duration: 5000,
                    close: true
                }).showToast();
                // console.log(data);
            }
            
            
        })
    </script>
</div>