<%- include('header') %>
</head> 
<body>
    <div>Trang thông tin tài khoản</div>
    <ol>
        <li><%= ten %> </li>
        <td><%= email %> </td>
        <td><%= sdt %> </td>
        <td><%= diachi %> </td>
        <td><%= cmnd %> </td>
        <td><%= gioitinh%> </td>
        <td><%= lacudan %> </td>
        <td><%= macudan %> </td>

    </ol>
</body>
<%- include('footer') %> 