<%- include('header') %>
    <style>
      
      .title {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 40px;
      }
      .cal_price {
        margin: auto;
        width: 350px;
      }
      .price_info {
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin: 0 0 1rem;
      }
      #total {
        font-weight: 700;
        font-size: larger;
      }
      .bill {
        margin: auto;
        max-width: 350px;
      }
      .bill_info {
        font-weight: 600;
      }
      .btn {
        margin: auto;
        display: block;
        max-width: 120px;
      }
    </style>

</head>

<%- include('navbar', {page: "Hóa đơn"}) %>

  <body>
    
    <div class="title">Thanks for using our service</div>
    
    <div class="bill">
      <div>Mã giao dịch: <span class="bill_info">#<%= lichsu[0].id %></span></div>
      <div>Ngày: <span class="bill_info"><%= lichsu[0].ngay %>/<%= lichsu[0].thang %>/<%= lichsu[0].nam %></span></div>
      <div>Tên khách hàng: <span class="bill_info"><%= ten %></span></div>
      <div>Thuê: <span class="bill_info"><%= lichsu[0].gio_thue_du_kien %> giờ</span></div>
      <div>Thuê xe lúc: <span class="bill_info"><%= thoi_gian[0].gio_bd %>:<%= thoi_gian[0].phut_bd %>:<%= thoi_gian[0].giay_bd %></span></div>
      <div>Trả xe lúc: <span class="bill_info"><%= thoi_gian[0].gio_kt %>:<%= thoi_gian[0].phut_kt %>:<%= thoi_gian[0].giay_kt %></span></div>
      <div>Trả xe muộn: <span class="bill_info"><%= tg_muon %> phút</span></div>
    </div>

    <div class="cal_price">
      <hr/>
      <div class="price_info">
        <p>Tạm tính</p>
        <p><%= lichsu[0].gia_thue_du_kien %>đ</p>
      </div>
      <div class="price_info">
        <p>Giảm giá</p>
        <p><%= giam_gia %>%</p>
      </div>
      <div class="price_info">
        <p>Phí trả xe trễ</p>
        <p><%= gia_muon %>đ</p>
      </div>
      <hr/>
      <div class="price_info">
        <p>Tổng số tiền</p>
        <p id="total"><%= lichsu[0].thanh_tien %>đ</p>
      </div>
    </div>

    <a href="/" class="btn btn-primary">Xác nhận</a>
  </body>
