<%- include('header') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.1/dist/L.Control.Locate.min.css" />
    <style>
        .body {
            display: block;
        }
        .logo {
            max-width: 200px;
        }
        .brand-name {
            margin: 5%;
            max-width: 200px;
        }
        .btn {
            margin-bottom: 5%;
        }
        a {
            text-decoration: none;
            color: #333;
            font-size: 20px;
        }
        a:hover {
            color:#478640;
            background-color: #e5e5e5;
        }

        .container {
            margin-top: 40px;
        }


        tbody tr:hover {
            background-color: #478640;
            color: #fff;
        }
        .hide {
            display: none;
        }
        .baixe, .xe, .thoigian {
            padding-left: 10%;
            padding-right: 10%;
        }

    </style>

</head>

<body class="text-center">
    <%- include('navbar', {page: "Thuê xe"}) %> 
    <br>
    <% if(message.length > 0){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert"><%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <img class="mb-4 logo" src="/img/logo.png" alt="logo" width="30%">
            </div>
            
            <div class="col col-12">
                <img class="brand-name" src="/img/ecopark.png" width="80%" alt="logo">
                
            </div>
        </div>
    </div>

    <div id="pending"></div>

    <form action="/rent/scan" method="post">
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                    <img class="slt-baixe" src="/img/chonbaixe.png" style="max-width: 80%" onclick="togglee(this.classList[0])" />
                </div>
                
                <div class="col col-12 mt-4 baixe">
                    <a href="/map" class="">Xem bản đồ tại đây</a>
                    <div class="chon">
                        <h2>Danh sách bãi xe</h2>

                            
                            <table class="table formbx">
                                <thead class="thead-light">
                                    <tr class="first-tr">
                                        <th scope="col">Tên bãi xe</th>
                                        <th scope="col">Số lượng xe</th>
                                        <th scope="col">Chọn bãi xe</th>
                                    </tr>
                                </thead>
                                <tbody>
                            
                                    <% if (typeof baixe != 'undefined'){ %>
                                        %> <% baixe.forEach(element => {%>
                                            <tr class="", id = "<%= element['id_bai_xe'] %>">
                                                <td><%= element['ten_bai'] %></td>
                                                <td><%= element['so_luong'] %></td>
                                                <td><input type="radio" name="bai" value="<%= element['id_bai_xe'] %>" onchange="change_baixe(this.value)"
                                                    <% if(bai == element['id_bai_xe'] ){ %>
                                                        <%="checked"%>
                                                    <%}%>
                                                ></td>
                                            </tr>
                                    <% }) %>
                                    <% } %>
                            
                                </tbody>
                            </table>
                            
                    </div>
                </div>
            </div>
        </div>
                                        
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                    <img class="slt-xe" src="/img/chonxe.png" style="max-width: 80%" onclick="togglee(this.classList[0])" />
                </div>
                <div class="col-col-12 mt-4 xe hide">
                    <div class="chon">
                        <h2 id="noti_dsxe"></h2>
                    
                        <table class="table formx">
                            <thead>
                                <tr class="">
                                    <th scope="col">ID xe</th>
                                    <th scope="col">Loại xe</th>
                                    <th scope="col">Trạng thái xe</th>
                                    <th scope="col">Chọn xe</th>
                                </tr>
                            </thead>
                            <tbody id='dsxe'>
                        <!-- dsxe trong text o function change_baixe dong 230 -->
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-col-12 ">
                    <img class="slt-thoigian" src="/img/thoigianthue.png" style="max-width: 80%" onclick="togglee(this.classList[0])" />
    
                </div>
    
                <div class="col col-12 mt-4 thoigian hide">
                    <div class="chon">
                        <h2>Khuyến mãi đặc biệt: giảm <%= gia[0].disc %>% cho cư dân EcoPark</h2>
                        
                        <table class="table formtg ">
                            <thead>
                            <tr class="">
                                <th scope="col">Thời gian thuê (giờ)</th>
                                <th scope="col">Số tiền phải trả (vnđ)</th>
                                <th scope="col">Chọn thời gian</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% if (typeof gia != 'undefined'){
                                    %> <% gia.forEach(element =>
                                    {%>
                                        <tr class="">
                                            <td> 1 </td>
                                            <td><%= element['one_h'] %></td>
                                            <td><input type="radio" name="gio" value="<%= element['one_h'] %>" required></td>
                                        </tr>
                                        <tr class="">
                                            <td> 2 </td>
                                            <td><%= element['two_h'] %></td>
                                            <td><input type="radio" name="gio" value="<%= element['two_h'] %>" required></td>
                                        </tr>
                                        <tr class="">
                                            <td> 3 </td>
                                            <td><%= element['three_h'] %></td>
                                            <td><input type="radio" name="gio" value="<%= element['three_h'] %>" required></td>
                                        </tr>
                                <% }) %>
                                <% } %>
                            </tbody>
                        </table> 
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-12 mt-4">
                    <input type="image" src="/img/btnthuexe.png" alt="btnthuexe" class="rent-img" style="max-width: 80%">
                </div>
            </div>
        </div>
    </form>
<br>
           
            

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    var sltBtnBX = $(".slt-baixe");
    var formBX = $(".baixe");
    var sltBtnX = $(".slt-xe");
    var formX = $(".xe");
    var sltTG = $(".slt-thoigian");
    var formTG = $(".thoigian");


    function togglee(form){
        if(form == 'slt-baixe') formBX.classList.toggle('hide')
        else if(form == 'slt-xe') formX.classList.toggle('hide')
        else if(form == 'slt-thoigian') formTG.classList.toggle('hide')
    }

   
    
    let dsbaixe = <%-JSON.stringify(baixe)%>;

    function change_baixe(idbai){
        // console.log(idbai);

        let noti_dsxe = document.querySelector('#noti_dsxe')
        for(i in dsbaixe){
            if(dsbaixe[i].id_bai_xe != idbai) continue
            else {
                noti_dsxe.textContent = `Danh sách xe ${dsbaixe[i].ten_bai}`
                break
            }
        }
        const xmlhttp = new XMLHttpRequest();
        formX.classList.remove('hide')
        formTG.classList.remove('hide')
        xmlhttp.onload = function() {
            // console.log(this.responseText);
            dsxe = JSON.parse(this.responseText)
            let text = ""
            for(i in dsxe){
                text += `<tr>
                            <td> ${dsxe[i].id_xe} </td>
                            <td> ${dsxe[i].loai_xe} </td>
                            <td> ${dsxe[i].trang_thai} </td>
                            <td><input type="radio" name="xe" value=" ${dsxe[i].id_xe} " required ></td>
                        </tr>`
            }
            document.querySelector('#dsxe').innerHTML = text

        }

        xmlhttp.open("POST", "/rent/chonbai", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("idbai=" + idbai);
    }

    let bai = '<%= bai %>'
    // console.log('id bai laf:  '+bai);
    if(bai){
        document.getElementsByTagName("body")[0].setAttribute("onload", `change_baixe(${bai})`)
    }

    if (window.location.href.includes('idbai') && performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        if(window.location.href.includes('localhost')) window.location.href = 'http://localhost:3000/rent'
        else if(window.location.href.includes('ecopark')) window.location.href = 'https://ecopark-bicycle-parking.herokuapp.com/rent'
    }

    let pending = '<%= pending %>'
    // console.log(pending);
    if(pending == 'true'){
        let id_bai_pending = '<%= id_bai_pending %>'
        let id_xe_pending = '<%= id_xe_pending %>'
        let pending_noti = document.querySelector('#pending')
        for(i in dsbaixe){
            if(dsbaixe[i].id_bai_xe != id_bai_pending) continue
            else {
                pending_noti.innerHTML = `<div>Đang có xe <strong><em>${id_xe_pending}</em></strong> chờ bạn quét mã xác nhận thuê tại <strong><em>${dsbaixe[i].ten_bai}</em></strong>.</div>
                                <div>Vui lòng quét mã để thuê xe hoặc huỷ xe đã chọn để được thuê xe khác.</div>
                                <a class="btn btn-outline-success" href="/rent/scan/${id_bai_pending}/${dsbaixe[i].ten_bai}">Quét mã</a>
                                <a class="btn btn-outline-danger" href="/rent/cancel/${id_xe_pending}">Huỷ xe</a>`
                break
            }
        }
        

    }
</script>

</body> 
<%- include('footer') %> 